body {
    font-family: Arial, sans-serif;
}

form {
    width: 70%;
    margin: 40px auto;
}

label {
    display: block;
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 40px;
}

#prediction {
    font-size: 54px;
    font-weight: bold;
    margin-top: 40px;
}
